#menu {
	float: left;
	width: 150px;
	height: 170px;
	border: 15px solid #ececff;
	padding: 7px;
	padding-left: 8px;
	border-right-color: #006;
}

#menu a {
	padding: 3px 1px;
	display: block;
	width: 100%;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px solid gray;
	color: #606;
}

#menu a:hover {
	background-color: #99c;
	color: #fff;
}

body {
	background-color: ##ececff;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.titulos {
	color: #036;
}

#figuras {
	float:left;
	width:480px;
	min-height: 250px;
	border: 3px solid grey;
	margin-left: 50px;
	padding: 5px;
	padding-bottom: 8px;
	background-color: #fff;
}

* html #figuras { /*estilo solo para IE ya que no se admite la propiedad min-height*/
	height: 400px;
}
