<div>
<svg 
	xmlns="http://www.w3.org/2000/svg"
	version="1.1"
	width="200" 
	height="200" >
     <circle  
		cx="100" 
		cy="100" 
		r="50" 
		stroke="black"
		stroke-width="2" 
		fill="red" />
</svg>
</div>
