/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0px;
	padding: 0px;
	color: #aeaeae;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
	background-color: #26163d;
	background-image: url(images/templatemo_body.jpg);
	background-repeat: repeat-x;
	background-position: top;
}

a, a:link, a:visited { 
	color: #298bff; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

p { 
	margin: 0px; 
	padding: 0; 
}

img { 
	border: none; 
}

h1, h2, h3, h4, h5, h6 { 
	color: #59aaff; 
}

h1 { 
	font-size: 40px; 
	font-weight: normal; 
	margin: 0 0 30px 0; 
	padding: 5px 0; 
}

h2 { 
	font-size: 28px; 
	font-weight: normal; 
	margin: 0 0 30px 0; 
	padding: 0; /* text-shadow: 1px 1px 2px #000; */ 
}

h3 { 
	font-size: 21px; 
	margin: 0 0 15px 0; 
	padding: 0; 
	padding: 0; 
	font-weight: normal; 
	color: #fff; 
}

h4 { 
	font-size: 18px; 
	margin: 0 0 15px 0; 
	padding: 0; 
}

h5 { 
	font-size: 16px; 
	margin: 0 0 10px 0; 
	padding: 0; 
	color: #ccc; 
}

h6 { 
	font-size: 14px; 
	margin: 0 0 5px 0; 
	padding: 0; 
	color: #ccc; 
}

.cleaner { 
	clear: both; 
	width: 100%; 
	height: 0px; 
	font-size: 0px;  
}

.cleaner_h10 { 
	clear: both; 
	width:100%; 
	height: 10px; 
}

.cleaner_h20 { 
	clear: both; 
	width:100%; 
	height: 20px; 
}

.cleaner_h30 { 
	clear: both; 
	width:100%; 
	height: 30px; 
}

.cleaner_h40 { 
	clear: both; 
	width:100%; 
	height: 40px; 
}

.cleaner_h50 { 
	clear: both; 
	width:100%; 
	height: 50px; 
}

.cleaner_h60 { 
	clear: both; 
	width:100%; 
	height: 60px; 
}

.float_l { 
	float: left; 
}

.float_r { 
	float: right; 
}

.image_wrapper { display: inline-block; border: 1px solid #000; background: #343239; padding: 8px; margin-bottom: 10px; }
.image_fl { float: left; margin: 3px 15px 0 0; }
.image_fr { float: right; margin: 3px 0 0 15px; }

blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#fff; }
cite span { color: #ccc; }
em { color: #fff; }

.tmo_list { margin: 20px 0 20px 20px; padding: 0; list-style: none; }
.tmo_list li { background: transparent url(images/templatemo_list.png) no-repeat scroll 0 0px; margin:0 0 20px; padding: 0 0 0 20px; 	line-height: 1em; }
.tmo_list li a { color: #fff; }
.tmo_list li a:hover { color: #ff4301; }

.btn_more a {
	float: right;
	display: block;
	width: 100px;
	height: 26px;
	margin-top: 10px;
	padding-top: 4px;
	font-size: 12px;
	font-weight: bold;
	color: #a9a9a9;
	text-align: center;
	background: url(images/templatemo_btn.png) no-repeat;
}

.btn_more a:hover {
	/* text-shadow: 1px 1px 1px #000; */
	text-decoration: none;
	background: url(images/templatemo_btn_hover.png) no-repeat;
}

.hr_divider {
	clear: both;
	padding-bottom: 40px;
	margin-bottom: 40px;
	background: url(images/templatemo_hr_divider.png) bottom repeat-x;	
}

#templatemo_wrapper_outer {
	width: 100%;
	margin: 0 auto;
	background: url(images/templatemo_body_2.jpg) top center no-repeat;
}

#templatemo_wrapper {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
	background: url(images/templatemo_body_2.jpg) top center no-repeat;
}

/* header */

#templatemo_header {
	width: 940px;
	height: 100px;
	padding: 0 10px;
	position:relative;
}

.templatemo_top_header {
	position:absolute;
	width:36px;
	height:36px;
	display:block;
	right:32px;
	top:2px;
	cursor:default;
}

#templatemo_header  #site_title {
	float: left;
	width: 210px;
	padding-top: 40px;
}

#templatemo_header  #site_title h1 {
	margin: 0;
	padding: 0;
}

#templatemo_header  #site_title a {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #edecec;
	font-weight: normal;
	text-decoration: none;
}

#templatemo_header  #site_title a strong {
	color: #fff;
}

#templatemo_header  #site_title a span {
	display: block;
	font-size: 12px;
	color: #edecec;
	font-weight: normal;
	margin-top: 5px;
	margin-left: 5px;
}

#social_box {
	float: right;
	display: inline-block;
	margin: 60px 0 0;
	padding: 0;
	list-style: none;
}

#social_box li {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

#social_box li a {
	width: 46px;
	height: 46px;
	margin-right: 5px;
}

.links {width:50px; height:24px; display:block; float:right; cursor:default;}
/* end of header */

/* menu */

#templatemo_menu {
	clear: both;
	width: 940px;
	height: 51px;
	padding: 0 10px;
	background: url(images/tempatemo_menu.png) no-repeat;
}

#templatemo_menu ul {
	margin: 0;
	padding: 14px 12px 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0;
	display: inline-block;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	font-size: 13px;
	width: 100px;
	height: 25px;
	padding: 5px 0 0 0;
	color: #afdeff;	
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	outline: none;
}

#templatemo_menu ul li a:hover, #templatemo_menu ul .current {
	color: #fff;
	background: url(images/templatemo_menu_hover.png) no-repeat center left;
}

#templatemo_slider_wrapper {
	clear: both;
	width: 940px;
	padding: 30px 10px 0;
	background: url(images/templateo_slider_wrapper.png) repeat-y center;
}

#templatemo_slider {
	width: 940px;
	height: 256px;
	padding: 40px 0;
	background: url(images/templatemo_slider.png) no-repeat;
}

/* end of menu */

#templatemo_content_wrapper {
	clear: both;
	width: 940px;
	padding: 40px 10px;
	background: url(images/templatemo_content.png) repeat-y;
}

#templatemo_content_wrapper_bottm {
	width: 960px;
	height: 5px;
	background: url(images/templatemo_content_bottom.png) no-repeat;
}

#content {
	padding: 0 50px;
	width: 840px;
}

#content p {
	margin-bottom: 10px;
}

.reasons {
	float: left;
	width: 240px;
	padding-right: 40px;
	text-align: justify;
}

.reasons img {
	float: left;
	margin-top: 3px;
	margin-right: 10px;
}

.col_w280 {
	float: left;
	width: 240px;
	padding-right: 40px;
}

.col_w560 {
	float: left;
	width: 520px;
	padding-right: 40px;
}

.col_w420 {
	float: left;
	width: 380px;
	padding-right: 40px;
}

.last_box {
	margin: 0;
	padding: 0;
}

#partner_box {
	width: 520px;
	overflow: hidden;
}

#partner_box ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#partner_box ul li {
	margin: 0;
	padding: 0;
	display: inline-block;
}

#partner_box ul li a {
	float: left;
	display: block;
	margin: 0 40px 20px 0;
}

#partner_box ul li .flashmo { background: url(images/flashmo.png) no-repeat; width: 150px; height: 40px; }
#partner_box ul li .flashmo:hover { background: url(images/flashmo_hover.png) no-repeat; }

#partner_box ul li .templatemo { background: url(images/templatemo.png) no-repeat; width: 226px; height: 40px; }
#partner_box ul li .templatemo:hover { background: url(images/templatemo_hover.png) no-repeat; }

#partner_box ul li .koflash { background: url(images/koflash.png) no-repeat; width: 148px; height: 40px; }
#partner_box ul li .koflash:hover { background: url(images/koflash_hover.png) no-repeat; }

#partner_box ul li .wdmo { background: url(images/webdesignmo.png) no-repeat; width: 261px; height: 40px; }
#partner_box ul li .wdmo:hover { background: url(images/webdesignmo_hover.png) no-repeat; }

#partner_box ul li .layermo { background: url(images/layermo.png) no-repeat; width: 156px; height: 40px; }
#partner_box ul li .layermo:hover { background: url(images/layermo_hover.png) no-repeat; }


#contact_form {  float: left; padding: 0; }
#contact_form form { margin: 0px; padding: 0px; }
#contact_form form .input_field { 
	width: 380px; 
	padding: 5px; 
	font-family: Tahoma, Geneva, sans-serif; 
	font-size: 12px;
	background: #fff; 
	border: 1px solid #dfdfdf; 
}  
	
#contact_form form label { 
	display: block; 
	width: 100px; 
	margin-right: 10px;
	margin-bottom: 5px; 
	font-size: 13px; 
}

#contact_form form textarea { 
	width: 380px;  
	height: 200px;	
	background: #fff; 	
	border: 1px solid #dfdfdf;
	padding: 5px;
	font-family: Tahoma, Geneva, sans-serif; 
	font-size: 12px;
}

#contact_form form .submit_btn {
	margin: 10px 0px; 
	padding: 5px 14px; 
	border: 1px solid #dfdfdf; 
	background: #fff;
	color:#666;
	font-weight: bold;
}

/* footer */

#templatemo_footer {
	width: 940px;
	padding: 10px;
	text-align: center;
	color: #755e96;
}

#templatemo_footer a {
	color: #755e96;
}

/* end of footer */

.tablaPlan{
	color :#FF3678;
	border:0.5;
	margin-left: 50px;
}
thead{
	font-size: 18px;
	color: #000FFF;
}
tbody {
	text-align: left;
}
