@charset "UTF-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}
h1 { font-family:Arial, Helvetica, sans-serif; alignment-adjust:central; font-size:14px; text-align: center;}
li { font-family:Tahoma, Geneva, sans-serif; text-align:justify; }
blockquote {font-family:Arial, Helvetica, sans-serif; alignment-adjust:central; font-size:13px;}
 
h2 { font-family:Arial, Helvetica, sans-serif; alignment-adjust:central; font-size:12px; color: #F63;}
h3 { font-family:Arial, Helvetica, sans-serif; alignment-adjust:central; font-size:12px;
}


header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
	display: block;
}
body {
	text-align: center;
}
#agrupar {
	width: 960px;
	margin: 15px auto;
	text-align: left;
}
#cabecera {
	background: #DBF1F1;

	padding: 20px;
	border-radius:10px;
}
#menu {
	/* background: #CCCCCC; */
	background: #ffffff;
	padding: 5px 15px;
	border-radius:30px;
} 
#menu li {
	display: inline-block;
	list-style: none;
	padding: 5px;
	color: #9CC0BA;
	font: bold 14px verdana, sans-serif;
}
#seccion {
	float: left;
	width: 660px;
	margin: 20px;
} 
#columna {
	float: left;
	width: 220px;
	margin: 20px 0px;
	border-width: 0px;
	padding: 20px;
	background: #ffffff;
	animation:cubic-bezier(x1,y1,x2,y2) ease-in;
}
#pie {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
}
article {
	background: #DBF1F1;
	border: 1px solid #999999;
	padding: 20px;
	margin-bottom: 15px;
} article footer {
	text-align: right;
} time {
	color: #999999;
} figcaption {
font: italic 14px verdana, sans-serif;
}
div {
	width: 100px;
	margin: 20px;
	padding: 10px;
	border: 1px solid #000000;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#ContentArea{
	border-width:0px;
	
	}
	
.item	{ 
	cursor:pointer; 
	text-decoration:none; 
	width:50px;
	margin:5px; 
	padding:5px; 
	background-color:#283a64; 
	color:#ffffff; 
	font-weight:bold; 
 }
.red				{ background-color:red; }
.orange				{ background-color:orange; color:black; }
.container			{ display:block; padding-top:6px; width:100%; height:200px; background-color:#f0f0f0;}
.containerrr		{ display:block; padding-top:6px;   }
.container legend	{ font-size:12px; color:black; margin-right: 20px; }

