.inner_copy {border:0;color:#f00;float:left;width:50% !important;margin:-100% 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:11px}
.fleft {float:left}
.fright  {float:right}
.fcenter {float:none;margin:0 auto;text-align:center}
.fclear {clear:both}
body {margin:10px;font-size:11px;font-family:arial;color:#fff;background: #333}
.company {font-family:Arial, Helvetica;
	font-size:36px;
	color: #CCC; 
	position:absolute;
	border-top: 300px;}
	
.tagline {font-weight:bold;
			color:#fff;
			padding-left:130px;
			padding-top:5px;
			
			}

.uplinks {width:100px;height:30px;line-height:30px;text-transform:uppercase;font-weight:bold;background:#959595;text-align:center}
.uplinks a {width:100px;color:#fff;text-decoration:none}
.uplinks a:hover {color:#97D10A;text-decoration:none;background:#A7D833;display:block;color:#111}
.sap {width:1px}
#plan1 {height:210px;background-image:url(images/header-bg.gif);background-repeat:repeat-x}
#plan2 {height:210px;background-image:url(images/header-bg2.gif);background-repeat:repeat-x}
#plan3 {height:210px;background-image:url(images/header-bg3.gif);background-repeat:repeat-x}
.odd {background:#f5f8ee;color:#333;font-size:11px;padding-left:10px;height:22px} 
 .even {background:#fde6f2;color:#333;font-size:11px;padding-left:10px;height:22px}
.plan-head {
	font-family:arial;
	font-size:20px;
	color:#666;
	margin: 5px 65px 10px; 
	border-top-width: 0px;
}
.price {width:106px;height:30px;line-height:30px;text-transform:uppercase;background:#3e637e;text-align:center;font-family:arial;font-size:22px;color:#fff}
.heading {height:30px; background:#3e637e;font-size:18px;color:#fff;padding-left:25px}
.included {font-size:11px;font-weight:bold;color:#fff;height:25px;padding-left:15px}
.bottom-bg {background-image:url(images/bottom-bg.jpg);background-repeat:repeat-x}
.included a {color:#fff;text-decoration:none}
.included a:hover {color:#000;text-decoration:none}
#main {text-align:justify;padding:15px;color:#333;font-size:12px}
#plan {text-align:justify;background-image:url(images/center-bg.jpg);background-repeat:repeat-x;height:210px}
.links {height:20px;line-height:20px;font-weight:normal;font-size:11px}
.links a {color:#393939;text-decoration:underline}
.links a:hover {color:#000;text-decoration:none}
.bottomlinks {width:110px;text-transform:uppercase;font-size:11px;font-weight:bold;text-align:center}
.bottomlinks a {color:#fff;text-decoration:none;height:20px}
.bottomlinks a:hover {color:#111;text-decoration:none}
#footer {padding:11px 11px 12px 11px;
background-color: black; }
.sap2 {color:#fff;width:1px}
a {color:#B1FBFF;text-decoration:underline}
a:hover {color:#B1FBFF;text-decoration:underline}
.spec{
	margin-top:-200px;
	width: 90px;
	height:35px;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
	background-color: #85DD7C;
	border: 1px solid #158D34;
	-moz-box-shadow:inset 0px 0px 1px rgba(26,154,72,1);
	-webkit-box-shadow:inset 0px 0px 1px rgba(26,154,72,1);
	box-shadow:inset 0px 0px 1px rgba(26,154,72,1);
	background-image: -o-linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
	background-image: linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
	color: #1d7819;
	text-shadow: rgba(254,252,252,0.5) 0px 1px 0px;
	margin-top:25px;
	margin-left:20px;


}
.spec:hover {
	background-color: #A7ED9E;
	background-image: -o-linear-gradient(90deg , rgb(138,211,129) 0%, rgb(204,237,200) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(138,211,129) 0%, rgb(204,237,200) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(138,211,129) 0%, rgb(204,237,200) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(138,211,129) 0%, rgb(204,237,200) 100%);
	background-image: linear-gradient(90deg , rgb(138,211,129) 0%, rgb(204,237,200) 100%);
	}

.company{
	margin-left:80px; 
	margin-top: -50px;
	position: absolute;
	
}	
nav ul{
	margin-left: 175px;

}
nav ul li{
	display:inline-block;  
	border-radius: 4px;
	cursor: pointer;
		
	}
#acceso{
	background-color: #FFF;
	position: absolute;
}	
.tabla{
background: -moz-linear-gradient(top,  rgba(0,0,0,0.72) 0%, rgba(0,0,0,0.06) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.72)), color-stop(100%,rgba(0,0,0,0.06))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.72) 0%,rgba(0,0,0,0.06) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.72) 0%,rgba(0,0,0,0.06) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.72) 0%,rgba(0,0,0,0.06) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.72) 0%,rgba(0,0,0,0.06) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8000000', endColorstr='#0f000000',GradientType=0 ); /* IE6-9 */

}
.planes{
	margin-top:5px;
	height:205px;
	width:300px;
	float:left;  
	margin-left:5px;
	border-radius:20px;
	}

#planGolden{
background: rgb(249,184,17); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(249,184,17,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,184,17,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(249,184,17,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(249,184,17,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(249,184,17,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(249,184,17,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b811', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

	}
#planPlatino{
background: rgb(245,246,246); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */

	
	
	}	
#contenedor{
	border-radius:20px;
	width:850px;
	height:220px;
	border:solid;
	margin:0 auto;}	
	
	
.parrafo{	
margin-left:8px;
font: 13px Tahoma, Helvetica, Arial, Sans-Serif;
color: #222;
text-shadow: 0px 2px 2px #555;}	

#tablaGolden {
	color: #993625;
	font-size: 14px;
	margin-left: 60px;
}
#tablaGolden thead{
	font-size: 25px;
	color: #FF3625;
}
#tablaPlatino {
	color: #993625;
	font-size: 14px;
	margin-left: 60px;
}
#tablaPlatino thead{
	font-size: 25px;
	color: #FF3625;
}
