<!DOCTYPE html> 
<html> 
	<head> 
		<meta charset='utf-8'>
		<title>ToDo</title>
		<script src='../qooxdoo/application/todo/script/q-core-3.0.1.min.js'></script>
		<script src='../qooxdoo/application/todo/script/q-storage-3.0.1.min.js'></script>
		<script src='../qooxdoo/application/todo/script/q-template-3.0.1.min.js'></script>
		<script src='../qooxdoo/application/todo/todo.js'></script>
		<script> q.ready(function() { q.startTodo(); }); </script>
		<link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
		<link href='../qooxdoo/application/todo/todo.css' rel='stylesheet' type='text/css'>
	</head> 
	<body> 
		<div id='todo'> 
			<h1>ToDo</h1>
		<div class='button' id='add'>Add</div>
		<div class='button' id='clear'>Clear</div>
			<ul id='tasks'>
				<li>Loading...</li>
			</ul> 
		</div>
		<script type='template' id='task'>
		<li>
		<input id='{{id}}' type='checkbox' {{#done}}checked{{/done}}>
		<label for='{{id}}'>{{name}}
			</label>
		</li> 
		</script> 
    </body> 
</html>
